<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>INVOICES GENERATOR</title>
</head>
<body class="bg-light" style="border:0px;">
    <div class="row">
        <div class="" >
            {{{body}}}
        </div>

    </div>

    <script>
        var qt = document.getElementById("qt");
        var ra = document.getElementById("ra");
        var am = document.getElementById("am");
        var sub = document.getElementById("sub");
        var dis = document.getElementById("dis");
        var tax = document.getElementById("tax");
        var ship = document.getElementById("ship");
        var total = document.getElementById("total");
        var sub_total_tenative = 0;
        var grand_total = 0;
        var taxed_total = 0;
        var total_after_tax=0;
        var shipped_total = 0;

        qt.addEventListener("input", amount_sum);
        ra.addEventListener("input", amount_sum);
        dis.addEventListener("input",add_discount);
        tax.addEventListener("input",add_tax);
        
        function amount_sum(){
            
            var quantity = (qt.value) || 0;
            var rate = (ra.value) || 0;
            var amount= quantity * rate;
        
            am.innerHTML=""+amount;
            change_sub(amount);
            }
       function change_sub(amt){
           sub_total_tenative=amt;
           
           sub.innerHTML=""+amt;
           change_total_by_sub(amt);
       }
       function change_total_by_sub(sub_tot){
            
           total.innerHTML=""+sub_tot;
       }

        function add_discount(){
            var discount =(dis.value) || 0;
            grand_total = ((100*sub_total_tenative)-(sub_total_tenative*discount))/100;

            total.innerHTML="" +grand_total;
            changeGrandTotal(grand_total);
          
        }
        function changeGrandTotal(grd_t){
            grand_total = grd_t;
            
        }
        function add_tax(){
            var tax_1 = (tax.value) || 0;
            taxed_total = ((100*grand_total)+(grand_total*tax_1))/100;
            total.innerHTML = ""+taxed_total;
            
        }
        
        

       
        
      
    </script>
</body>
</html>