<h1 class="page-header">{{viewTitle}}</h1>

<form>
    <div class="row">
    <div class="col-md-6 col-lg-6">
    <div class="form-group">
        <label>Invoice Number</label>
        <input type="number" class="form-control" name="invoice_number" placeholder="INVOICE ID">
    </div>
    <div class="form-group">
       
        <textarea class="form-control" placeholder="Who is this invoice from? (required)" required="" expanding-textarea="" cols="20" rows="3" style="resize: none;"></textarea>

    </div>
    <div class="form-group">
        <label>Bill To:</label>
       <textarea class="form-control" placeholder="Who is this invoice to? (required)"  required="" expanding-textarea="" cols="20" rows="3"style="resize: none;"></textarea>
    </div>
    </div>
    <div class="col-md-6 col-lg-6">
    <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" name="date" placeholder="Date">
    </div>
    <div class="form-group">
        <label>Due-Date</label>
        <input type="date" class="form-control" name="due_date" placeholder="Due-Date">
    </div>
    <div class="form-group">
        <label>Sub-Total</label>
        <input type="number" class="form-control" name="sub_total" placeholder="Sub_total">
    </div>
    </div>
   
        <div class="well well-sm col-12">
            <div class="row" style="padding:0px 0px 0px 0px; margin-bottom:-18px;">
            <div class="form-group col-2" style="padding: 0px 0px 0px 15px">
                <label class="form-control">Item-number</label>
            </div>
            <div class="form-group col-4"  style="padding: 0px 0px 0px 0px">
                <label class="form-control">Type</label>
            </div>
            <div class="form-group col-2" style="padding: 0px 0px 0px 0px">
                <label class="form-control">Quantity</label>
            </div>
            <div class="form-group col-2" style="padding: 0px 0px 0px 0px">
                <label class="form-control">Rate</label>
            </div>
            <div class="form-group col-2" style="padding: 0px 15px 0px 0px">
                <label class="form-control">Amount</label>
            </div>
            </div>

        </div>
        <div class="form-group col-2">
            
            <input type="number" class="form-control" name="items_id" placeholder="Item-Id">
        </div>
        <div class="form-group col-4">
            
            <input type="text" class="form-control" name="items_type" placeholder="Type">
        </div>
        <div class="form-group col-2">
           
            <input type="number" class="form-control" name="items_quantity" placeholder="Quantity">
        </div>
        <div class="form-group col-2">
            
            <input type="number" class="form-control" name="items_quantity" placeholder="Quantity">
        </div>
        <div class="form-group col-2">
            
            <input type="number" class="form-control" name="items_amount" placeholder="Amount">
        </div>
    <div class="form-group col-3">
          <button class="btn btn-primary" type="submit" name="add_items"><i class="fa fa-plus" aria-hidden="true"></i>Add Items</button>
    </div>
  
    <div class="col-6 offset-md-6">
        <div class="form-group">
            <label>Discounts</label>
            <input type="number" class="form-control" name="discounts" placeholder="discounts">
        </div>
        <div class="form-group">
            <label>Tax</label>
            <input type="number" class="form-control" name="tax" placeholder="tax">
        </div>
        <div class="form-group">
            <label>Shipping</label>
            <input type="number" class="form-control" name="shipping" placeholder="shipping">
        </div>
        <div class="form-group">
            <label>Total</label>
            <input type="number" class="form-control" name="total" placeholder="total">
        </div>
        <div class="form-group">
            <button class="btn btn-info" type="submit"><i class="fa fa-database"></i>Submit</button>
        </div>

    </div>

</div>
</form>